html{
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body {
    background: #C7E0DD !important;
    min-width: 100%;
    min-height: 100vh;
}

.nav-link {
    color: black !important;
}

.nav-link:hover {
    color: rgb(63, 63, 63) !important;
    text-decoration: underline !important;
}

.footer{
    width: 100%;
    height: 200px;
    background-color: rgb(39, 39, 39);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.footer-links a{
    color: white;
    display: flex;
    flex-direction: column;
    transition: .1s;
    text-decoration: none;
}

.footer-links a:hover {
    color: #767676;
    text-decoration: underline;
}

.footer-left{
    text-align: center;
    width: 30%;
    margin: auto 0;
}

.footer-left a {
    margin: 15px 0;
}

.footer-center{
    text-align: center;
    margin: auto 0;
    width: 30%;
    font-size: 60px;
    font-weight: 500;
    color: white;
} 

.footer-right{
    text-align: center;
    color: white;
    margin: auto 0;
    width: 30%;
}

.containeraaa {
    width: 1000px !important;
    margin: 0 auto;
    background-color: #ADADAD;
    border: 1px solid black;
    min-height: 65vh;
}

.elements {
    max-height: 500px;
    overflow: auto;
    margin: 0 20px;
    padding-top: 10px;
    text-align: center;
}

.element {
    justify-content: space-between;
    display: flex;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(200, 200, 200);
}

.active,
.element:hover {
    background-color: rgb(180, 180, 180);
    cursor: pointer;
    transition: .3s;
}

.elementcontent {
    justify-content: space-between;
    max-height: 0;
    display: flex;
    background-color: rgb(215, 215, 215);
    overflow: hidden;
    transition: .3s;
}

.data {
    display: flex;
    width: 600px;
    justify-content: space-between;
    text-align: center;
}

.status p{
    margin: auto;
}

.add-equipment-text {
    text-align: center;
    margin-top: 10px;
    font-size: 30px;
    font-weight: 500;
}

.add-equipment {
    margin: 10px auto;
    width: 500px;
    background-color: rgb(200, 200, 200);
    display: flex;
    flex-direction: column;
}

.add-equipment_input {
    margin: 10px auto;
    height: 35px;
    width: 300px;
    border: 0;
    border-radius: 0 !important;
}

.add-equipment_input:focus {
    outline: none;
}

.add-equipment_button {
    border-radius: 0 !important;
    margin: 10px auto;
    height: 35px;
    font-size: 20px;
}


.add-equipment-exception {
    text-align: center;
    color: rgb(255, 0, 0);
    margin: 0;
}

.actions {
    display: flex;
    flex-direction: column;
}

.actions a {
    color: black;
    transition: .3s;
}

.actions a:hover {
    color: rgb(101, 101, 101);
}

.button-actions {
    background: transparent;
    border-color: transparent;
}

.button-actions:hover{
    color: #767676;
}